.navBar{
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: absolute;
    margin: auto;
    width: 90%;
    padding: 10px 30px;
    z-index: 999;
}
.mainNav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media (max-width: 640px){
    .navbar{
        width: 100%;
    }
    .logoImg{
        width: 240px;
    }
  
}
