@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.headerText{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.267); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    text-align: center;
}

.headerText h1{
    text-shadow: 2px 4px 5px rgba(248, 246, 246, 0.65);
    font-family:  "Montserrat", cursive;
    color: #ea1d25;
    font-weight: 900;
    font-size: 80px;
}

.span1{
    font-size: 60px;
}


.headerText p{
    text-shadow: 2px 4px 5px rgba(0,0,0,0.6);
    font-size: 35px;
    color: white !important;
    font-weight: bold;
}


/* @media (max-width: 768px) {
    
  }
  
  
  @media (max-width: 475px) {
    
  } */

  @media (max-width: 640px) {
   .headerText h1{
    font-size: 50px;
   }
   .span1{
    font-size: 45px;
   }
  }