.header{
    width: 95%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.header img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to right, transparent 0%,black 5%, black 95%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%,black 5%, black 95%, transparent 100%);
}

@media (max-width: 768px) {
    .header img{
        width: 100vw;
    }
    
}

@media (max-width: 640px){
    .header{

        height: 100vh;
    }
  
}
/* @media (max-width: 475px) {
    .header img{}
  
} */



