.servicessection{
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 100%;
    height: 50vh;
}


.textbox{
    flex: 1;
    border: 5px solid red;
    height: 100%;
    background-color: darkslateblue;
}