.counter{
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(46, 46, 45, 0.349);
    color: #fa7c07;
}

.counter div>h2{
    font-size: 70px;
    font-weight: 800;
    text-shadow: 0px 0px 20px 15px rgba(236, 233, 233, 0.75);
}

.counter div>p{
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 20px 15px rgba(236, 233, 233, 0.75);
}



@media (max-width: 640px){
    .counter{
        flex-direction: row;
              
    }
    .counter div>h2{
        font-size: 40px;
    }
    .counter div>p{
        font-size: 25px;
    }
}