.link{
    min-width: 100px;
    border-radius: 20px;
    font-weight: 500;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #ef831b;
    font-weight: bold;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.25);
    /* box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75); */
}



.link:hover{
    background-color: azure;
    color: var(--bg);
    box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
}

.active{
    pointer-events: none;
    background-color: #ef831b;
    box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
    color: var(--text);
    font-weight: 800;
}

.footer{
    text-decoration: none;
    color: white;
}