.projects{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/93400/pexels-photo-93400.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
