.about{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.abtContainer{
    display: flex;
    width: 80%;
    height: 100%;
    padding: 20px;
    border: 2px solid #ef831b;
}

.abtContainer>div:nth-child(1){
    background: url(https://images.pexels.com/photos/2209529/pexels-photo-2209529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 50px;
    margin: 0 10px;
    border: 3px solid #ef831b;
}

.textContainer h1{
    font-size: 60px;
    text-decoration: underline;
    color: #fa7c07;
}

.textContainer p{
    font-size: 18px;
    text-align: center;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 15px;
}
.cta button{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    width: 175px;
    border: none;
    cursor: pointer;
}

@media (max-width: 640px){
    .abtContainer{
        flex-direction: column-reverse;
        gap: 20px;
        width: 90%;
        padding: 15px;
    }
    .textContainer{
        padding: 10px;      
    }
    .textContainer h1{
        font-size: 30px;
    }
    .textContainer p{
        font-size: 15px;
        margin-top: 10px;
    }
    .cta{
        width: 100%;
    }
    .cta button{
        width: 100px;
        margin: 10px;
        padding: 10px;
        font-size: 12px;
    }
}
